<a href="https://colab.research.google.com/github/natjak/data-science-bootcamp/blob/main/02_analiza_danych/01_pandas_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Pandas
>Strona biblioteki: [https://pandas.pydata.org/](https://pandas.pydata.org/)  
>Dokumentacja: [https://pandas.pydata.org/pandas-docs/stable/](https://pandas.pydata.org/pandas-docs/stable/)
>
>Podstawowa biblioteka do analizy danych w języku Python.
>
>Aby zainstalować bibliotekę Pandas użyj polecenia poniżej:
```
pip install pandas
```
### Spis treści:
1. [Podstawowe struktury danych: pd.Series](#a1)
2. [Podstawowe struktury danych: pd.DataFrame](#a2)
3. [Selekcja kolumn](#a3)

In [1]:
import pandas as pd
pd.__version__

'1.3.5'

### <a name='a1'></a>  Podstawowe struktury danych: pd.Series

In [2]:
s = pd.Series(data=[3, 2, 4, 6]) #od razu mamy przypisany indeks
s

0    3
1    2
2    4
3    6
dtype: int64

In [3]:
s = pd.Series(data=[3, 2, 4, 6], index=['a', 'b', 'c', 'd'], name='sample') # ale indeksy możemy personalizować. Możemy też nazwać stworzony obiekt
s

a    3
b    2
c    4
d    6
Name: sample, dtype: int64

In [4]:
s = pd.Series(data=[3., 2, 4, 6], index=['a', 'b', 'c', 'd'], name='sample') # typ kolumny domyślnie jest jednakowy
s

a    3.0
b    2.0
c    4.0
d    6.0
Name: sample, dtype: float64

In [5]:
import numpy as np # a co z brakami danych? Przecież zawsze gdzieś są

s = pd.Series(data=[3., np.nan, 4, 6], index=['a', 'b', 'c', 'd'], name='sample')
s

a    3.0
b    NaN
c    4.0
d    6.0
Name: sample, dtype: float64

In [6]:
s = pd.Series(data=[True, False, False]) #bool
s

0     True
1    False
2    False
dtype: bool

In [8]:
s = pd.Series(data=np.arange(10, 20), index=pd.date_range(start='20220601', periods=10)) # daty (bo szeregi czasowe są popularne)
s

2022-06-01    10
2022-06-02    11
2022-06-03    12
2022-06-04    13
2022-06-05    14
2022-06-06    15
2022-06-07    16
2022-06-08    17
2022-06-09    18
2022-06-10    19
Freq: D, dtype: int64

In [9]:
list(s.index)

[Timestamp('2022-06-01 00:00:00', freq='D'),
 Timestamp('2022-06-02 00:00:00', freq='D'),
 Timestamp('2022-06-03 00:00:00', freq='D'),
 Timestamp('2022-06-04 00:00:00', freq='D'),
 Timestamp('2022-06-05 00:00:00', freq='D'),
 Timestamp('2022-06-06 00:00:00', freq='D'),
 Timestamp('2022-06-07 00:00:00', freq='D'),
 Timestamp('2022-06-08 00:00:00', freq='D'),
 Timestamp('2022-06-09 00:00:00', freq='D'),
 Timestamp('2022-06-10 00:00:00', freq='D')]

In [10]:
s.dtypes

dtype('int64')

In [23]:
s = pd.Series(data=['python', 'matlab', 'sql'], name='languages')
s

0    python
1    matlab
2       sql
Name: languages, dtype: object

In [12]:
type(s)

pandas.core.series.Series

In [13]:
s.index

RangeIndex(start=0, stop=3, step=1)

In [14]:
s.values

array(['python', 'java', 'sql'], dtype=object)

In [16]:
s.dtypes

dtype('O')

In [17]:
s.shape

(3,)

In [33]:
price = pd.Series(data={'Apple': 182, 'CD Projekt': 108, 'Amazon': 2510, 'SWPS': np.nan})
price

Apple          182.0
CD Projekt     108.0
Amazon        2510.0
SWPS             NaN
dtype: float64

In [34]:
price['CD Projekt']

108.0

In [35]:
price[1]

108.0

In [37]:
price.count()

3

In [38]:
price.value_counts()

182.0     1
108.0     1
2510.0    1
dtype: int64

In [40]:
price.value_counts(dropna=False)

182.0     1
108.0     1
2510.0    1
NaN       1
dtype: int64

In [28]:
price.sum()

2800

In [29]:
price.min()

108

In [30]:
price.max()

2510

In [31]:
price.std()

1365.9346006794517

In [41]:
price.describe()

count       3.000000
mean      933.333333
std      1365.934601
min       108.000000
25%       145.000000
50%       182.000000
75%      1346.000000
max      2510.000000
dtype: float64

In [42]:
price.nlargest(2)

Amazon    2510.0
Apple      182.0
dtype: float64

In [45]:
price.nsmallest(2)

CD Projekt    108.0
Apple         182.0
dtype: float64

In [46]:
price.rank()

Apple         2.0
CD Projekt    1.0
Amazon        3.0
SWPS          NaN
dtype: float64

In [48]:
price.sort_values()

CD Projekt     108.0
Apple          182.0
Amazon        2510.0
SWPS             NaN
dtype: float64

In [49]:
price.sort_values(ascending=False)

Amazon        2510.0
Apple          182.0
CD Projekt     108.0
SWPS             NaN
dtype: float64

In [56]:
for element in price:
  print(element)

182.0
108.0
2510.0
nan

In [57]:
price_funt = []
for element in price:
  price_funt.append(element * 1.5)

print(price_funt)

[273.0, 162.0, 3765.0, nan]

In [50]:
price_pln = price.apply(lambda x: x * 3.8)

In [51]:
price

Apple          182.0
CD Projekt     108.0
Amazon        2510.0
SWPS             NaN
dtype: float64

### <a name='a2'></a>  Podstawowe struktury danych: pd.DataFrame (ramka danych)

In [58]:
df = pd.DataFrame(data=[12, 12, 32])
df

    0
0  12
1  12
2  32

In [61]:
df = pd.DataFrame(data=[12, 12, 32], index=['first', 'second', 'third'], columns=['col_1'])
df

        col_1
first      12
second     12
third      32

In [60]:
df = pd.DataFrame(data={'WIG20': ['PKN ORLEN', 'PKO BP'],
                        'mWIG40': ['Amica', 'Playway']})
df

       WIG20   mWIG40
0  PKN ORLEN    Amica
1     PKO BP  Playway

In [62]:
df = pd.DataFrame(data=[[10, 12, 13], [23, 12, 10]], index=['first', 'second'], columns=['col_1', 'col_2', 'col_3'])
df

        col_1  col_2  col_3
first      10     12     13
second     23     12     10

In [63]:
df.columns

Index(['col_1', 'col_2', 'col_3'], dtype='object')

In [64]:
df.index

Index(['first', 'second'], dtype='object')

In [65]:
df.values

array([[10, 12, 13],
       [23, 12, 10]])

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, first to second
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col_1   2 non-null      int64
 1   col_2   2 non-null      int64
 2   col_3   2 non-null      int64
dtypes: int64(3)
memory usage: 64.0+ bytes

In [ ]:
df.describe()

           col_1  col_2     col_3
count   2.000000    2.0   2.00000
mean   16.500000   12.0  11.50000
std     9.192388    0.0   2.12132
min    10.000000   12.0  10.00000
25%    13.250000   12.0  10.75000
50%    16.500000   12.0  11.50000
75%    19.750000   12.0  12.25000
max    23.000000   12.0  13.00000

In [ ]:
df.describe().T

       count  mean       std   min    25%   50%    75%   max
col_1    2.0  16.5  9.192388  10.0  13.25  16.5  19.75  23.0
col_2    2.0  12.0  0.000000  12.0  12.00  12.0  12.00  12.0
col_3    2.0  11.5  2.121320  10.0  10.75  11.5  12.25  13.0

### <a name='a3'> </a> Selekcja kolumn

In [68]:
df

        col_1  col_2  col_3
first      10     12     13
second     23     12     10

In [69]:
df['col_1']

first     10
second    23
Name: col_1, dtype: int64

In [70]:
type(df['col_1'])

pandas.core.series.Series

In [71]:
df[['col_1']]

        col_1
first      10
second     23

In [72]:
type(df[['col_1']])

pandas.core.frame.DataFrame

In [73]:
df.columns = ['a', 'sprzedaz_grudzien', 'c']
df

         a  sprzedaz_grudzien   c
first   10                 12  13
second  23                 12  10

In [74]:
df.sprzedaz_grudzien

first     12
second    12
Name: sprzedaz_grudzien, dtype: int64

In [76]:
df['d'] = df.a + df.c
df

         a  sprzedaz_grudzien   c   d
first   10                 12  13  23
second  23                 12  10  33

In [78]:
df = pd.DataFrame(data=[[10, 12, 13], [23, 12, 10]], index=['first', 'second'], columns=['col_1', 'col_2', 'col_3'])
df

        col_1  col_2  col_3
first      10     12     13
second     23     12     10

In [79]:
df.loc['first']

col_1    10
col_2    12
col_3    13
Name: first, dtype: int64

In [80]:
df.loc['first', 'col_2']

12

In [81]:
df.loc[:, 'col_2']

first     12
second    12
Name: col_2, dtype: int64

In [82]:
df.iloc[0]

col_1    10
col_2    12
col_3    13
Name: first, dtype: int64

In [83]:
df.iloc[0, 1]

12